<!doctype html>
<title>Art Unit Classifier App</title>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
<script type="text/javascript" color="0,100,200" opacity="0.5" src="http://www.freecodeformat.com/js/canvas-nest.min.js"></script>
<div class="container">
<h1>
    Welcome to the Patent Art Unit Classification System
</h1>

    <div class="container_right">
    {% if group %}
    <h2><font color="blue">{{ group[0] }}00</font></h2>
    {% endif %}

    {% if error %}
    <h2><font color="red">{{ error }}</font></h2>
    {% endif %}
    </div>

    <div class="container2">
         <form action="/query" method="POST">
            <p><h3>Art Units to Consider:</h3>
   <input type="checkbox" name="TC2100" value="TC21" checked> 2100<br>
   <input type="checkbox" name="TC2400" value="TC24" checked> 2400<br>
   <input type="checkbox" name="TC2600" value="TC26" checked> 2600<br>
   <input type="checkbox" name="TC3600" value="TC36" checked> 3600<br></p>
   
             <p><h3>Title:</h3><textarea rows="4" cols="50" name=title >{{title}}</textarea></p>

             <p><h3>Abstract:</h3><textarea rows="10" cols="50" type=text name=abstract >{{abstract}}</textarea></p>

             <p><h3>First Independent Claim:</h3><textarea rows="25" cols="50" type=text name=claims >{{claims}}</textarea></p>
             <div class="form-button">
                <input type=submit value=Submit class="graphite-flat-button"/>
             </div>
        </form>
    </div>



</div>

</body>
